<!-- Including header and main navigation panel partials -->
<%- include('../partials/header.ejs') %> <%- include('../partials/main_nav.ejs')%>

<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0){ %> 
    <div class="alert alert-message">
        <%= messages %> 
    </div>
    <% } %> 

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Register</h1>
            <form method="POST">
                <fieldset class="form-group">
                    <lable for="username">User Name: </lable>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter Username"
                    id="username" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <lable for="password">Password: </lable>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset>
                <fieldset class="form-group">
                    <lable for="email">Email Address: </lable>
                    <input type="text" class="form-control"
                    name="email" placeholder="Enter email address"
                    id="email" required>
                </fieldset>
                <fieldset class="form-group">
                    <lable for="displayName">Display Name: </lable>
                    <input type="text" class="form-control"
                    name="displayName" placeholder="Enter display name"
                    id="displayName" required>
                </fieldset>
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>

</main>

<!-- Including footer and bottom panel partials -->
<%- include('../partials/bottom_nav.ejs')%> <%- include('../partials/footer.ejs') %>